{% extends model('template') %}

{% define data = {
    form: form
} %}

{% block body %}
    {% embed molecule('crefopay-form-loader', 'CrefoPay') with {
        data: {
            shopPublicKey: '',
            orderId: ''
        },
        embed: {
            form: data.form
        }
    } only %}
        {% block requestForm %}
            <div class="spacing-left spacing-left--big">
            {{ form_widget(embed.form.crefoPayDirectDebit) }}
                <div class="spacing spacing--big">
                    <label>Account holder: <input type="text" data-crefopay="paymentInstrument.bankAccountHolder" placeholder="John Doe"></label>
                </div>
                <div class="spacing spacing--big">
                    <label>IBAN: <input type="text" data-crefopay="paymentInstrument.iban" placeholder="DE12 3456 7890 1112 1314"></label>
                </div>
                <div class="spacing spacing--big">
                    <label>BIC: <input type="text" data-crefopay="paymentInstrument.bic" placeholder="SFRTDE20000"></label>
                </div>
                <div class="spacing spacing--big">
                    <label><input type="radio" data-crefopay="paymentInstrument.id" value="Aqc9O5SSJuQTDHC9KXFE0Q" class="spacing-right">Registered bank account (IBAN: DE12 3456 7890 1112 1314)</label>
                </div>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}
