{% extends model('template') %}

{% define data = {
    form: form
} %}

{% block body %}
    {% set paymentMethodSubForm = data.form.crefoPayDirectDebit %}
    {% set subFormVars = paymentMethodSubForm.vars %}
    {% set subFormPlaceholders = subFormVars.secureFieldsPlaceholders %}
    {% set crefopayFields = [
        {name: "crefopay.accountholder", attribute: "paymentInstrument.bankAccountHolder", placeholder: subFormPlaceholders.accountHolder},
        {name: "crefopay.iban", attribute: "paymentInstrument.iban", placeholder: subFormPlaceholders.iban},
        {name: "crefopay.bic", attribute: "paymentInstrument.bic", placeholder: subFormPlaceholders.bic}
    ] %}

    {% embed molecule('crefopay-payment-form', 'CrefoPay') with {
        data: {
            paymentMethodSubForm: paymentMethodSubForm,
            shopPublicKey: subFormVars.shopPublicKey,
            orderId: subFormVars.orderID,
            fields: crefopayFields,
            endpointUrl: subFormVars.secureFieldsApiEndpoint,
            placeholders: subFormPlaceholders,
        },
    } only %}
        {% block requestFormField %}
            <div class="spacing-y">
                <label class="label label--required">{{ field.name | trans }}</label>
                <input class="input input--expand" type="text" data-crefopay="{{ field.attribute }}" placeholder="{{ field.placeholder | trans }}">
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}
