# IDEs
/.idea
/.project
/nbproject
/.buildpath
/.settings
*.sublime-*
*.AppleDouble
*.AppleDB
*.AppleDesktop
/tests/app/*

# OS
.DS_Store

/vendor
/composer.lock
composer.phar

phpunit.phar

# tests
tests/**/_generated/
/tests/_output/*
!/tests/_output/.gitkeep
