parameters:
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
    ignoreErrors:
        - '#Call to method .+\(\) on an unknown class Generated\\Service\\Ide\\AutoCompletion#'
        - '#Parameter \$.+ of method .+ has invalid typehint type Generated\\.+#'
        - '#Return typehint of method .+ has invalid type Generated\\.+#'
        - '#PHPDoc tag @var for variable.+contains unknown class Generated\\.+#'
        - '#.+Transfer.+#'
    excludePaths:
        - src/SprykerEco/Zed/CrefoPay/Persistence/Propel/Abstract*.php
