parameters:
    level: 7
    paths:
        - src/
    bootstrapFiles:
        - tests/bootstrap.php
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
    ignoreErrors:
        - '#Call to method .+\(\) on an unknown class Generated\\.+#'
        - '#Call to an undefined method .+useSpyPaymentCrefoPayApiLogQuery\(\)\.+#'
        - '#Call to an undefined method .+useSpyPaymentCrefoPayNotificationQuery\(\)\.+#'
        - '#Parameter \#1 \$object_or_string of function is_a expects object, float\|null given.#'
        - '#Unreachable statement - code above always terminates.#'
    excludePaths:
        - src/SprykerEco/Zed/CrefoPay/Persistence/Propel/Abstract*.php
