{% extends model('template') %}

{% define data = {
    form: form
} %}

{% block body %}
    <script src="https://libs.crefopay.de/3.0/secure-fields.js"></script>
    <script>
        var secureFieldsClientInstance =
            new SecureFieldsClient(
                data.form.crefoPayCreditCard3D.vars.shopPublicKey,
                data.form.crefoPayCreditCard3D.vars.orderID,
                paymentRegisteredCallback,
                initializationCompleteCallback,
                configuration);
    </script>
    <div>
        {{ form_widget(data.form.crefoPayCreditCard3D) }}
        <label><input type="radio" data-crefopay="paymentMethod" value="CC">Creditcard</label><br>
        <span>Accountholder: </span>
        <div data-crefopay-placeholder="paymentInstrument.accountHolder"></div>
        <span>Number: </span>
        <div data-crefopay-placeholder="paymentInstrument.number"></div>
        <span>Validity: </span>
        <div data-crefopay-placeholder="paymentInstrument.validity"></div>
        <span>CVV: </span>
        <div data-crefopay-placeholder="paymentInstrument.cvv"></div>
        <label><input type="radio" data-crefopay="paymentInstrument.id" value="Aqc9O5SSJuQTDHC9KXFE0Q">Registered creditcard (Number: 12***********3456)</label>
    </div>
    <script>
        secureFieldsClientInstance.registerPayment();

        function paymentRegisteredCallback(response) {
            if (response.resultCode === 0) {
                // Successful registration, continue to next page using JavaScript
            } else {
                // Error during registration, check the response for more details and dynamically show a message for the customer
            }
        }

        function initializationCompleteCallback(response) {
            if (response.resultCode === 0) {
                // Successful registration, continue to next page using JavaScript
            } else {
                // Error during registration, check the response for more details and dynamically show a message for the customer
            }
        }

        var configuration = {
            url: "https://sandbox.crefopay.de/secureFields/",
            placeholders: {
                accountHolder: "Your Name",
                number: "0123456789101112",
                cvv: "000"
            }
        }
    </script>
{% endblock %}
