{% extends model('template') %}

{% define data = {
    form: form
} %}

{% block body %}
    {% embed molecule('crefopay-form-loader', 'CrefoPay') with {
        data: {
            shopPublicKey: data.form.crefoPayCreditCard3D.vars.shopPublicKey,
            orderId: data.form.crefoPayCreditCard3D.vars.orderID
        }
        embed: {
            form: data.form
        }
    } only %}
        {% block requestForm %}
            <div>
                {{ form_widget(embed.form.crefoPayCreditCard3D) }}
                <label><input type="radio" data-crefopay="paymentMethod" value="CC">Creditcard</label><br>
                <span>Accountholder: </span>
                <div data-crefopay-placeholder="paymentInstrument.accountHolder"></div>
                <span>Number: </span>
                <div data-crefopay-placeholder="paymentInstrument.number"></div>
                <span>Validity: </span>
                <div data-crefopay-placeholder="paymentInstrument.validity"></div>
                <span>CVV: </span>
                <div data-crefopay-placeholder="paymentInstrument.cvv"></div>
                <label><input type="radio" data-crefopay="paymentInstrument.id" value="Aqc9O5SSJuQTDHC9KXFE0Q">Registered creditcard (Number: 12***********3456)</label>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}
