{% extends model('template') %}

{% define data = {
    form: form
} %}

{% block body %}
    {% include atom('crefopay-checkbox-helper', 'Crefopay') with {
        attributes: {
            'trigger-selector': '.js-toggler-radio__trigger',
            'container-selector': '.form',
            'target-selector': '.radio__input',
            'name': 'crefopay-radio',
            'custom-attr-name': 'data-crefopay',
            'custom-attr-value': 'paymentMethod'
        }
    } only %}
    <div class="is-hidden">
        {{ form_widget(data.form.crefoPayPrepaid) }}
    </div>
{% endblock %}
